<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      img{
          width: 100px;
      }
  </style>
</head>
<body>
  <div id="app">

    <div v-if="errors.length > 0">
        <h5>Error :</h5>
        <ul>
            <li v-for="(error,index) in errors" :key="index">{{error}}</li>
        </ul>
    </div>

    <form @submit.prevent="submitForm()">
        <table>
            <tr>
                <td>Nama    : </td>
                <td><input type="text" v-model="form.name"></td>
            </tr>
            <tr>
                <td>Address :</td>
                <td><input type="text" v-model="form.address"></td>
            </tr>
            <tr>
                <td>No HP   :</td>
                <td><input type="text" v-model="form.no_hp"></td>
            </tr>
            <tr v-if="buttonStatus == 'submit'">
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
    <div v-if="buttonStatus == 'upload'">
        <input type="file" name="photo" ref="photo">
        <button @click="submitFoto()">Upload</button>
    </div>
    <div v-if="buttonStatus == 'update'">
        <button @click="updateData()">Update</button>
    </div>

    <br><br>

    <table border="1"> 
        <thead>
            <tr >
                <td>Foto</td>
                <td>Nama</td>
                <td>Alamat</td>
                <td>No Hp</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(member, index) in members" :key="index">
                <td>
                    <img v-if="member.photo_profile != null" :src=" url + member.photo_profile">
                    <img v-else src="https://dummyimage.com/600x400/000/fff" alt="">
                </td>
                <td>{{member.name}}</td>
                <td>{{member.address}}</td>
                <td>{{member.no_hp}}</td>
                <td>
                    <button @click="uploadPhoto(member)">Upload Photo</button> ||
                    <button @click="updateButton(member)">Update</button> ||
                    <button @click="hapus(member)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
   var vm = new Vue({
      el: '#app',
      data: {
          form: {
            name:'',
            address:'',
            no_hp:'',
          },
          errors: [],
          members: [],
          url:'http://demo-api-vue.sanbercloud.com',
          buttonStatus : 'submit'
      },
      created(){
          this.getMembers()
      },
      methods : {
        clearForm: function() {
            this.form.name = ''
            this.form.address = ''
            this.form.no_hp = ''
        },
        validationForm: function () {
            if(this.form.name.length < 5){
                this.errors.push('Nama harus lebih dari 5 karakter')
            }
            if(this.form.address.length < 5){
                this.errors.push('Address harus lebih dari 5 karakter')
            }
            if(this.form.no_hp.length < 5){
                this.errors.push('No Hp harus lebih dari 5 karakter')
            }
        },
        submitForm: function(){

            this.validationForm()

            if(this.errors.length === 0){
                let formData = new FormData()
                formData.append('name', this.form.name)
                formData.append('address', this.form.address)
                formData.append('no_hp', this.form.no_hp)

                const config = {
                    method: 'post',
                    url: 'http://demo-api-vue.sanbercloud.com/api/member',
                    data: formData,
                }

                axios(config)
                    .then((response) => {
                    this.clearForm()
                    console.log(response.data)
                })
                    .catch((error) => {
                    console.log(error)
                })
            }
        },
        getMembers: function(){
            const config = {
                method: 'get',
                url: 'http://demo-api-vue.sanbercloud.com/api/member'
            }
            axios(config)
                .then((response) => {
                    this.members = response.data.members
                    console.log(this.members)
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        uploadPhoto: function(member){
            this.buttonStatus = 'upload'
            this.form.id = member.id
            this.form.name = member.name
            this.form.address = member.address
            this.form.no_hp = member.no_hp
            console.log(this.form.id)
        },
        submitFoto: function(){
            let file = this.$refs.photo.files[0]
            let formData = new FormData()
            formData.append('photo_profile',file)

            const config = {
                method: 'post',
                url: `http://demo-api-vue.sanbercloud.com/api/member/${this.form.id}/upload-photo-profile`,
                data: formData
            }

            axios(config)
                .then((response) => {
                    this.clearForm()
                    this.buttonStatus = 'submit'
                    this.getMembers()
                    console.log(response.data.member)
                    alert(response.data.message)
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        updateButton: function(member){
            this.buttonStatus = 'update'
            this.form.id = member.id
            this.form.name = member.name
            this.form.address = member.address
            this.form.no_hp = member.no_hp
            console.log(this.form.id)
        },
        updateData: function(){

            this.validationForm()

            if(this.errors.length === 0){
                let formData = new FormData()
                formData.append('name', this.form.name)
                formData.append('address', this.form.address)
                formData.append('no_hp', this.form.no_hp)

                const config = {
                    method: 'post',
                    url: `http://demo-api-vue.sanbercloud.com/api/member/${this.form.id}?_method=PUT`,
                    data: formData
                }

                axios(config)
                    .then((response) => {
                    this.clearForm()
                    this.buttonStatus = 'submit'
                    this.getMembers()
                    alert(response.data.message)
                    console.log(response.data.member)
                })
                    .catch((error) => {
                    console.log(error)
                })
            }
        },
        hapus: function(member){
            console.log(this.form.id)

            var proceed = confirm("Apakah data ingin dihapus?");
            if (proceed) {
                const config = {
                    method: 'post',
                    url: `http://demo-api-vue.sanbercloud.com/api/member/${member.id}?_method=DELETE`,
                }

                axios(config)
                    .then((response) => {
                    this.buttonStatus = 'submit'
                    this.getMembers()
                    alert(response.data.message)
                    console.log(response.data.member)
                })
                    .catch((error) => {
                    console.log(error)
                })  
            } 
        },
      }
  })
  </script>
</body>
</html>