<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
   
    <form>
        <input type="text" @input="findBooks($event)" placeholder="Ketikan kata kunci">
    </form>

    <div v-if="text == ''">
      <ul>
        <li v-for="book in books">
          {{ book }}
        </li>
      </ul>
    </div>
    <div v-else>
      <ul>
        <li v-for="book in filterBook">
          {{ book }}
        </li>
      </ul>
    </div>


  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        type: "",
        lowerCaseBook: [],
        filterBook: [],
        text: "",
        books: [
            'Kalkulus Dasar',
            'Fisika Dasar',
            'Aljabar Linier Elementer',
            'Aljabar Abstrak',
            'Algoritma Pemrograman'
        ]
      },
      methods : {
        findBooks : function($event){
          this.lowerCaseBook = []
          this.filterBook = []
          if(text = ""){
            return this.book
          }
          for (let i = 0; i < this.books.length; i++) {
            this.lowerCaseBook.push(this.books[i].toLowerCase())
          }
          if($event){
            if($event.inputType != "deleteContentBackward"){
              this.text = this.text + $event.data
              for (let i = 0; i < this.lowerCaseBook.length; i++) {
                  if(this.lowerCaseBook[i].indexOf(this.text) > -1){
                    this.filterBook.push(this.books[i])
                    console.log(this.lowerCaseBook[i].indexOf(this.text))
                  }
              }
            }else if($event.inputType == "deleteContentBackward"){
              this.text = this.text.slice(0,-1)
              for (let i = 0; i < this.lowerCaseBook.length; i++) {
                  if(this.lowerCaseBook[i].indexOf(this.text) > -1){
                    this.filterBook.push(this.books[i])
                    console.log(this.lowerCaseBook[i].indexOf(this.text))
                  }
              }
            }
          }
          return this.filterBook
        } 
      }
  })
  </script>
</body>
</html>